# YouTube API Key
YOUTUBE_API_KEY=
# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=support.orbitxmcn.digital@gmail.com
SMTP_PASS=pvum kwip usyt juym

# Stripe API Credentials
VITE_STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""

# Firebase Admin SDK (For Vercel Deployment)
FIREBASE_SERVICE_ACCOUNT_KEY='{"type": "service_account", ...}'

# bKash API Credentials
BKASH_APP_KEY=""
BKASH_APP_SECRET=""
BKASH_USERNAME=""
BKASH_PASSWORD=""
BKASH_BASE_URL="https://tokenized.sandbox.bka.sh/v1.2.0-beta"
